@font-face {
  font-family: "VKSans";
  src: url("../VKSans.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "VKSans";
}

body {
  background: #fcfbfe;
  color: #e8e9ed;
  overflow-y: hidden;
}

#parallax1 > .paralax-background {
  background: url("../../img/bg1.png");
}

#parallax2 > .paralax-background {
  background: url("../../img/bg2.png");
}

#parallax3 > .paralax-background {
  background: url("../../img/bg3.png");
}

#parallax4 > .paralax-background {
  background: url("../../img/bg1.png");
}

.parallaxParent {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.parallaxParent > .paralax-background {
  height: 200%;
  position: relative;
  top: -100%;
}

.section-wrapper {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 50px 20px;
  transform: none !important;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.message-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  padding: 0 20%;
}

.message-wrapper + .message-wrapper {
  margin-top: 17px;
}

.message-wrapper.right {
  justify-content: flex-end;
}

.message-wrapper.right .message {
  transform: translateX(300%);
  background: #454648;
}

.message {
  background: #2c2d2f;
  color: #fff;
  padding: 17px;
  border-radius: 25px;
  font-size: 1.7rem;
  transition: all 1s 0.8s cubic-bezier(0.68, -0.55, 0, 1.75);
  width: fit-content;
  height: fit-content;
  transform: translateX(-300%);
  max-width: 300px;
}

.time {
  color: #818284;
  font-size: 1.5rem;
}

.section-wrapper.visible .message {
  transform: translateX(0);
}

.nav-container {
  z-index: 10;
  position: fixed;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
}

.nav-container > div {
  background: #df7861;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  color: #fcf8e8;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 15px;
}

.nav-container > div i {
  transition: all 0.3s;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#button-down {
  padding-bottom: 12px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#button-up {
  margin-bottom: 10px;
  padding-top: 12px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.nav-container > div:hover {
  box-shadow: 0 0 10px 1px rgba(51, 51, 51, 0.5);
}

.nav-container > div:hover i {
  text-shadow: none;
}
