@font-face {
  font-family: "VKSans";
  src: url("../VKSans.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "VKSans";
}

body {
  background: #fcfbfe;
}

.parallaxParent {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.parallaxParent > .paralax-background {
  height: 200%;
  position: relative;
  top: -100%;
}

.section-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 50px 20px;
}

#parallax1 > .paralax-background {
  background: url("../../img/bg1.png");
}

#parallax2 > .paralax-background {
  background: url("../../img/bg2.png");
}

#parallax3 > .paralax-background {
  background: url("../../img/bg3.png");
}

#parallax4 > .paralax-background {
  background: url("../../img/bg1.png");
}

.message {
  background: #333;
  color: #fff;
  padding: 10px;
  font-size: 1.5rem;
  transition: all 0.2s 1.5s;
}

.message.visible {
  background: #aaa;
}

.section-trigger {
  height: 1px;
  width: 100vw;
}

.nav-container {
  position: fixed;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
}

.nav-container > div {
  background: #8785a2;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  color: #ffe2e2;
  transition: all 0.3s;
  cursor: pointer;
}

.nav-container > div i {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#button-down {
  padding-bottom: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#button-up {
  margin-bottom: -1px;
  padding-top: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.nav-container > div:hover {
  box-shadow: 0 0 20px rgba(51, 51, 51, 0.05);
}
